@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


@mixin font-s-w($size, $weight){
    font-size: $size;
    font-weight: $weight;
};


@mixin flexbox($dir,$jc,$ai){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}